.SimpleHistoryLogitems:before,
.SimpleHistoryLogitems:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.SimpleHistoryGui {
	width: 100%;	
}

.SimpleHistoryGui, 
.SimpleHistoryGuiExample {
	content: " "; /* 1 */
	display: table; /* 2 */
	height: auto;
	min-height: 100%;
}

.SimpleHistoryLogitems {
	padding: 1rem;
}

.SimpleHistoryLogitem__header {
	padding-top: 0;
	padding-bottom: 1rem;
}

.postbox .SimpleHistoryLogitem {
	width: 32.333%;
	margin-right: 1.333%;
	margin-bottom: 1.5em;
	float: left;
	background-color: white;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	height: 320px;
	text-align: center;
	box-sizing: border-box;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
	overflow: visible;
}

.postbox .SimpleHistoryLogitem:hover {
	background-color: #fcfcfc;
}

.postbox .SimpleHistoryLogitem:nth-child(3n) {
	margin-right: 0;
}

.postbox .SimpleHistoryLogitem--last {
	padding-top: 100px;
}

.postbox .SimpleHistoryLogitem--last .button {
	margin-right: .2rem;
}

.postbox .SimpleHistoryLogitem--last .button:last-child() {
	margin-right: 0;
}


.postbox .SimpleHistoryLogitem__senderImage {
	margin: 0 auto;
	width: 40px;
	height: 40px;
}

.postbox .SimpleHistoryLogitem--initiator-wp .SimpleHistoryLogitem__senderImage:before, .postbox .SimpleHistoryLogitem--initiator-wp_cli .SimpleHistoryLogitem__senderImage:before, .postbox .SimpleHistoryLogitem--initiator-web_user .SimpleHistoryLogitem__senderImage:before {
	font-size: 60px;
}

.SimpleHistoryLogitem__firstcol {
	padding: 2rem;
	float: none;
}

.postbox .SimpleHistoryLogitem__secondcol {
	margin-left: 0;
}

.postbox .SimpleHistoryLogitem__text {
	font-size: 1rem;
	line-height: 2;
	float: none;
	max-width: 300px;
	margin: 0 auto;
}

.postbox .SimpleHistoryLogitem__text  {
	text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.postbox .SimpleHistoryLogitem__details {
	border: 1px solid rgba(0, 0, 0, 0.05);
	width: 600px;
	text-align: center;
	box-sizing: border-box;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
	position: fixed;
	background: white;
	height: 100vh;
	max-width: 600px;
	left: 160px;
	top: 26px;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	display: none;
	z-index: 1000;
	padding: 4rem;
	overflow-y: scroll;
}

.postbox .SimpleHistoryLogitem__details.active {
	display: block;
}

.postbox .SimpleHistoryLogitem__details .close {
	content: 'x';
	background: #ccc;
	color: white;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: block;
	-webkit-user-select: none;
	cursor: pointer;
}

.postbox .SimpleHistoryLogitem__details .close:hover {
	background: #666;
}

.button-details {
	margin-top: .5rem;
	font-size: .7rem;
	display: block;
	-webkit-user-select: none;
}

.button-details:focus {
	box-shadow: none;
}

.button-edit {
	margin-left: .5rem !important;
}

.shl_searchholder {
	text-align: center;
	padding: 2rem;
}

.shl_deleted {
	color: #FF4136;
}

.shl_updated {
	color: #2ECC40;
}

.shl_attachment {
	color: #51AED5;
}

.shl_page {
	color: #6E3698;
}

.shl_wordpress {
	color: #666;
}

.shl_dashicons {
	vertical-align: middle;
	display: inline-block;
	margin-right: 1rem;
	font-size: 1em;
	position: absolute;
	top: 0;
	left: 0;
	background: #f7f7f7;
	-webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	width: 100%;
	text-align: left;
	padding: .3em;
	box-sizing: border-box;
	height: 26px;
}

.SimpleHistoryLogitem__text .button {
	display: block;
	max-width: 100px;
	margin: 0 auto;
	margin-top: 1rem;
}

.SimpleHistoryQuickStats {
	text-align: center;
	margin-top: 2rem;
}

.SimpleHistoryPaginationLink.SimpleHistoryPaginationLink {
	font-size: 2rem;
	width: 60px;
	line-height: 40px;
	height: 40px;
}

.postbox .SimpleHistoryPaginationLink, 
.postbox .SimpleHistoryPaginationCurrentPage {
	font-size: 1.2rem;
	width: 60px;
	line-height: 40px;
	height: 40px;
}

.SimpleHistoryPaginationPages {
	font-size: 1.2rem;
}

.SimpleHistoryLogitems__pagination {
	clear: both;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.postbox .SimpleHistoryPaginationPages {
  padding-top: 48px;
  padding-bottom: 8px;
}

.SimpleHistoryFilterDropin-searchInput {
	width: 50%;
}

.SimpleHistory__filters__filter--date, 
.SimpleHistoryFilterDropin-searchInput {
	width: 50%;
	margin: 0 auto;
	display: block;
}

.SimpleHistory__filters__moreFilters {
	text-align: center;
}